battleroyale v1.1
nb_players	4
nb_rounds	100
nb_farmers	15
nb_knights	15
farmers_health	60
knights_health	120
farmers_regen	0
knights_regen	15
damage_min	50
damage_max	70
rows    36
cols    35
secgame false
names ? ? ? ?


round 0
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
X.................................X
X.................................X
X.................................X
X.................................X
X.................................X
X.................................X
X.................................X
X.................................X
X.................................X
X.................................X
X..........XXXXXX.XXXXXX..........X
X..........X...........X..........X
X..........X...........X..........X
X..........X...........X..........X
X..........X...........X..........X
X..........X...........X..........X
X.................................X
X..........X...........X..........X
X..........X...........X..........X
X..........X...........X..........X
X..........X...........X..........X
X..........X...........X..........X
X..........XXXXXX.XXXXXX..........X
X.................................X
X.................................X
X.................................X
X.................................X
X.................................X
X.................................X
X.................................X
X.................................X
X.................................X
X.................................X
X.................................X
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
score 0 0 0 0
status 0 0 0 0


