battleroyale v1.1
nb_players	4
nb_rounds	100
nb_farmers	20
nb_knights	20
farmers_health	60
knights_health	120
farmers_regen	0
knights_regen	15
damage_min	50
damage_max	70
rows    48
cols    48
secgame false
names ? ? ? ?


round 0
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
................................................
score 0 0 0 0                              
status 0 0 0 0


